.thumb-item {
  background-color:#eee;
  background-image:url(data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);
  background-position:center;
  background-repeat:no-repeat;
  transition: all 200ms ease;
  background-size:cover;
  float:left;
  opacity: 1;
  height:150px;
  position:relative;
  width:25%;
  cursor:pointer;
}
@media screen and (max-width:790px) {
  .thumb-item {
    width:50%;
  }
}
@media screen and (max-width:480px) {
  .thumb-item {
    width:100%;
  }
}