navigation {
  float: right;
  margin-top:90px;
  ul {
    margin:0;
    padding:0;
    list-style: none;
    * {
      text-transform: uppercase;
      font-size:14px;
      font-weight:bold;
    }
    li {
      display:inline-block;
      padding: 7px 20px;
      border-bottom:4px solid #fff;
      opacity:0.65;
      a {
        text-decoration: none;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}