.link-button {
    background-color: #2d5ec5;
    color:#fff;
    content: " ";
    display:none;
    font-size:10px;
    height: 50px;
    left: 5px;
    line-height: 12px;
    padding-top: 12px;
    position: absolute;
    text-align:center;
    top: 5px;
    top: 60px;
    vertical-align: middle;
    width: 50px;
}