.link-button {
    background-color: rgba(45, 94, 197, 0.66);
    color:#fff;
    content: " ";
    font-size:10px;
    height: 50px;
    left: 0;
    line-height: 12px;
    padding-top: 12px;
    position: absolute;
    text-align:center;
    text-decoration: none;
    top: 50px;
    vertical-align: middle;
    width: 50px;
}