.thumb-item {
  background-position:center;
  background-repeat:no-repeat;
  transition: all 200ms ease;
  background-size:100%;
  float:left;
  height:195px;
  position:relative;
  width:25%;
  a.delet,a.link {
    position: absolute;
    content: " ";
    width: 50px;
    height: 50px;
    left: 5px;
    top: 5px;
    background-size: 100%;
    background-repeat:no-repeat;
    background-image: url('/dist/delet.JPG');
    color:#fff;
    font-size:10px;
    text-align:center;
    display:none;
  }
  a.link {
    background-color: #2d5ec5;
    background-image: none;
    padding-top: 12px;
    top: 60px;
    line-height: 12px;
    vertical-align: middle;
  }
  &:hover {
    background-size: 80%;
    a {
      display:block;
    }
    a.delet {
      &:hover {
        filter: saturate(6);
        animation-name: shake-hard;
        animation-duration: 100ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    } 
  }
}
@media screen and (max-width:790px) {
  .thumb-item {
    width:50%;
  }
}
@media screen and (max-width:480px) {
  .thumb-item {
    width:100%;
  }
}